<div class = headerGradient >
    <a href = "{{ "/" | relative_url }}" >
      <img src = "{{ "/assets/images/Harbinger_250.png " | relative_url }}" style = "width:90px; float:left; margin-top:-5px;" />
    </a> 
    <div class = headerGradient  >
        
      <div class = "navBar">
        <ul class = navbarList >
          <li> <a class = "navBar" href = "/MonthlyScores"> Monthly Scores </a></li>
          <li> <a class = "navBar" href = "/StarQuality"> Star Quality </a> </li>
          <li> <a class = "navBar" href = "/Overachievers"> Overachievers </a> </li>
          <li> <a class = "navBar" href = "/HeadToHeads"> Head to Head </a> </li> 
        </ul>
      </div>
    </div>
    
    
    
        
    
    
  </div>
<header class="site-header">

  <div class="wrapper">
    
   
  
  </div>
</header>
