      <div class = "row navBar container-fluid">
        
        
        <div class = "col-sm-2 navbarItem"> <a class = "navBar" href = "/MonthlyScores"> Monthly Scores </a> </div>
        <div class = "col-sm-2 navbarItem"> <a class = "navBar" href = "/StarQuality"> Star Quality </a>  </div>
        <div class = "col-sm-2 navbarItem"> <a class = "navBar" href = "/Overachievers"> Overachievers </a> </div>
        <div class = "col-sm-2 navbarItem"> <a class = "navBar" href = "/HeadToHeads"> Head to Head </a> </div>
        <div class = "col-sm-2 navbarItem"> <a class = "navBar" href = "/About"> About </a>  </div>
        
      </div>