/* start  of front page content */
div.LaserCardContent
{
    border-radius: inherit;
    width:100%;
    height:100%;
    font-size:8pt;
    color:green;
    margin:0px;
    background-color:rgba(11,11,11,1);
}
div.LaserCardWrapper
{
    margin-left:25px;
    margin-right:25px;
    margin-top:10px;
    margin-bottom:15px;
    border-radius:10px 30px;
    padding:2px;
    
}


div.LaserCardWrapperOther
{
    
    border:1px solid black;
    color: black;
    background: green; 
    border:0px;
    color:green;
}
.LaserCardWrapperOther .LaserCardNames
{
    color:limegreen;
}

div.LaserCardWrapperGold
{
    
    background: linear-gradient(0deg, green, green, gold); 
    border:0px;
    color:green;

}
.LaserCardWrapperGold .LaserCardNames
{
    color:gold;
}
div.LaserCardWrapperSilver
{
    background: linear-gradient(0deg, green, green, silver); 
    border:0px;
    color:green;
}
.LaserCardWrapperSilver .LaserCardNames
{
    color:silver;
}
div.LaserCardWrapperBronze
{
    background: linear-gradient(0deg, green, green, rgb(180, 100, 40)); 
    border:0px;
    color:green;

}
.LaserCardWrapperBronze .LaserCardNames
{
    color:rgb(180, 100, 40);
}


.LaserCardWrapper hr 
{
    
    color: limegreen;
    background-color:limegreen;
    border-top:1px solid limegreen;
}


/* end of front page content */
/* start of table page content */

td.SmallBrightNumber{
    color:lime;
}

th {
    background: #131;
}

tr:nth-child(even){
    background:#131; /**/
}
tr:nth-child(odd){
    background:#141; /**/
}

body {
    color:rgb(0, 167, 0); 
}

a, a:visited
{color:limegreen}
a:hover
{color:greenyellow}

hr { 
    color:limegreen;
    background-color:limegreen;
    
    border:0px;
    border-top:1px solid limegreen;
}

table.AnnualTop3s { 
    border:2px solid limegreen;
}
/* end of table page content */
div.SmallBrightNumber {
    color:limegreen;
}

table.AnnualTop3s td.MonthHeader {color:limegreen;}