body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#222;
    color:gold; 
    
}
div.CentralBlock
{
    margin-top:-40px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}
.HarbingerBack 
{
    background-image: url('../images/HarbingerBack.png');
    background-size: contain;
    background-repeat:no-repeat;        
    background-position:center top;

}

div.wrapper {
    
}

div.navbarItem {
    border-radius: 5px 15px;
    display:inline;
    border:1px solid rgb(255, 236, 128);
    margin:7px;
    height:30px;
    text-align: center;
    vertical-align: center;
}

div.navbarHeader {display:inline;
    margin:7px;
    height:30px;
    text-align: center;
    vertical-align: center;
    color: rgb(255, 236, 128);

}


div.headerGradient {
    background-image: linear-gradient(rgba(0,0,0,1), rgba(34, 34, 34, 0));
    margin:-8px;
    padding-top:20px;
    min-height:90px;

}
footer {
    
    display:block;
    position: fixed;
    bottom: 0;
}
.footerGradient {
    background-image: linear-gradient(rgba(34,34,34,0), rgba(0, 0, 0, 1));
    min-width:100%;
    padding-top:20px;
    min-height:40px;
    padding-left:5px;
    font-size: 8pt;
    color:rgb(255, 236, 128);
    
    

}
tr, td, th {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 
{
    margin-left:auto;
    margin-right:auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height:90px;
    padding-left:10px;
}
h2 
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
h4 
{
    margin-left:10%;
}
a {
    color:rgb(255, 236, 128)
}



.h2hContent h1 {
    padding:0px;
    font-size:18pt;
    margin:0px;
    min-height:0px;
    
}
.h2hContent h2 {
    padding:0px;
    font-size:14pt;
    margin:0px;
    min-height:0px;
}
a.navBar
{color:rgb(255, 236, 128); text-decoration:none;}
a.navBar:visited
{color:rgb(255, 236, 128); text-decoration:none;}

a:visited
{color:rgb(161, 137, 0)}
a:hover
{color:rgb(255, 236, 128)}


table.links {
    color:gold;
    border-radius:0px;
    margin:0px;
}
table.links tr {
    background-color:transparent;
}
table.links tr:nth-child(even)
{
    background-color:transparent;
}
table.links tr:nth-child(odd)
{
    
}


table {
    width:100%;
    color: Silver;
    margin-left:auto;
    margin-right:auto;
    border-spacing: 0;
    border-radius:5px 25px;
    -moz-border-radius:6px;
    overflow: hidden;
}
hr { 
    color:gold;
    background-color:gold;
    
    border:0px;
    border-top:1px solid gold;
}

hr.pageBuffer
{
    margin-top:60px;
}
table.ScoreTable
{
    margin-bottom:60px;
    
}

th {
    
    background: #331;
    margin:0px;
    padding-left:5px;
    padding-right:5px;
}
td {
    padding:2px;
    margin:0px;
    
}
td.number {
    text-align: center;
}

td.SmallBrightNumber{
    vertical-align: super;
    font-size: 7pt;
    color:gold;
    font-family: monospace
    
}
div.SmallBrightNumber
{

    vertical-align: super;
    font-size: 6pt;
    color:gold;
    font-family: monospace   
}


tr:nth-child(even){
     background:#331; /**/
}
tr:nth-child(odd){
     background:#441; /**/
}

div.navBar{
    padding-left:10px; 
    width:75%;
    margin-left:auto;
    margin-right:auto; 
}

.fill{
    height:100%;
}


main.page-content{

    margin-bottom:30px;
}

.genericWrapper

 
{
    border-radius: 10px 30px;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:15px;
    font-size:8pt;
    color:gold;
    margin-top:15px;
    background-color:rgba(0,0,0,.8);
}

.genericWrapperOffset 
{
    border-radius: 30px 10px;
}

table.AnnualTop3s{
    border-radius:10px;
    margin:0px; padding-left:10px;
    font-size:8pt;
    background-color:green;
    
}
table.AnnualTop3s td {text-align: center;}
table.AnnualTop3s td.golden {color:gold;}
table.AnnualTop3s td.silver {color:silver;}
table.AnnualTop3s td.bronze {color:rgb(180, 100, 40);}
table.AnnualTop3s td.MonthHeader {color:gold; font-weight: bolder;}